{% extends 'base.html.twig' %}

{% block addstylesheet %}
<link href="assets/css/users/register-1.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<body class="register">

        <div class="form-register">
            <a href="{{path('main')}}">Retour à l'accueil</a>
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                   <h2>Domaine Manager <br /> Inscription utilisateur</h2> 
                </div>
                {{ form_start(form) }}
                <div class="col-md-12">
                    <label for="inputEmail" class="">Email</label>
                    {{ form_widget(form.email, {'attr':{'placeholder':'Adresse mail ...', 'class':'form-control mb-4'}}) }}
                    <label for="inputPassword" class="">Mot de passe</label>
                    {{ form_widget(form.password, {'attr':{'placeholder':'Mot de passe ...', 'class':'form-control mb-5'}}) }}

                    <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-4 mt-5" type="submit">Inscription</button>
                    <a href="{{ path('security_login')}}" class="btn btn-lg btn-outline-dark btn-block btn-rounded mb-3">Login</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </body>
{% endblock %}
