{% extends 'baseAdmin.html.twig' %}

{% block style %}
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href=" {{ asset('plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" type="text/css" />
    <link href=" {{ asset('plugins/fullcalendar/fullcalendar-basic.css') }} " rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLE -->
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row layout-spacing" id="cancel-row">

            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content widget-content-area event-calendar">
                        <div class="js-fc-header">
                            <h2 class="js-fc-header-title">Domaine name</h2>
                        </div>
                        <div id="c" class="fc fc-unthemed fc-ltr">
                            <div class="fc-toolbar fc-header-toolbar">
                                <div class="fc-left"><div class="fc-button-group">
                                        <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
                                            <span class="fc-icon fc-icon-right-single-arrow">

                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="fc-right">
                                    <div class="fc-button-group">
                                        <button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">Mois
                                        </button>
                                        <button type="button" class="fc-agendaWeek-button fc-button fc-state-default">Semaine
                                        </button>
                                        <button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">Jour
                                        </button>
                                    </div>
                                </div>
                                <div class="fc-center">
                                    <h2>{{ "now"|date("m/d/Y") }}</h2>
                                </div><div class="fc-clear">

                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    {% block javascript %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('plugins/fullcalendar/moment.min.js') }}"></script>
    <script src="{{ asset('plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  custom-fullcalendar.advance.js -->
    <script >
    $(document).ready(function() {

    $("#add-e").click(function(event) {
        event.preventDefault();
        var inputField = $("#write-e");
        var inputValue = $("#write-e").val();            
        var html = '<div class=\'fc-event fc-new\' data-color=\'fc-new\'>'+inputValue+'</div>';
        $(html).appendTo(".add-event").hide().slideDown();
        $(inputField).val('');
        initializeExternalEvents();
    });

    initializeExternalEvents();
    function initializeExternalEvents() {

        /* initialize the external events
        -----------------------------------------------------------------*/

        $('#external-events .fc-event').each(function() {

            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                className: $(this).data('color'),
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });
    }



    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        events: [
            {
                title: 'All Day Event',
                start: '2019-02-01T14:30:00',
                className: "bg-danger"
            },
            {
                title: 'Long Event',
                start: '2019-02-07T19:30:00',
                end: '2019-02-10T14:30:00',
                className: "bg-info"
            },
            {
                title: 'Conference',
                start: '2019-02-17T14:30:00',
                end: '2019-02-13T14:30:00',
                className: "bg-warning"
            },
            {
                title: 'Meeting',
                start: '2019-02-12T10:30:00',
                end: '2019-02-12T12:30:00'
            },
            {
                title: 'Lunch',
                start: '2019-02-12T15:00:00',
                className: "bg-secondary"
            },
            {
                title: 'Meeting',
                start: '2019-02-12T21:30:00',
                className: "bg-success"
            },
            {
                title: 'Happy Hour',
                start: '2019-02-12T05:30:00',
                className: "bg-warning"
            },
            {
                title: 'Dinner',
                start: '2019-02-12T20:00:00',
                className: "bg-dark"
            },
            {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2019-02-28',
                className: "bg-success"
            }
        ],
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        eventLimit: true,
        drop: function() {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        }
    });


    // NOTE:  Event marker are updated automatically with respect to current date. You can modify these event markers according to your need.

    var today = new Date();
    var y = today.getFullYear();
    var m = today.getMonth();
    var d = today.getDate();
    
    {% for key, domaineName in domaineNames %}

    $('#c').fullCalendar({
        header: {
            left: "prev,next",
            center: "title",
            right: "month,agendaWeek,agendaDay"
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        eventLimit: true,
        dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        timeFormat: "hh:mm a",
        events: [{
            title: "{{ domaineName.name }}",
            start: "03/02/2022",
            className: "fc-event--orange",
            allDay: !0
        }, ]
    });
{% endfor %}
});
    
    
    </script>
    <!--  END CUSTOM SCRIPTS FILE  -->
    
      

    {% endblock %}
{% endblock %}